Options -Indexes
<FilesMatch "^(config\.local\.php|config\.php|db\.php)$">
    Require all denied
</FilesMatch>
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(data|_dev)/ - [F]
</IfModule>
